学籍番号:
氏名:

# 大規模データ解析入門 (2)　課題

---
## データ

[第07回の実習](02_large_data_analysis_ja.ipynb)で使ったサンプルデータと同じです。


### サンプルデータのソース

Abe, A., Kosugi, S., Yoshida, K., Natsume, S., Takagi, H., Kanzaki, H., Matsumura, H., Yoshida, K., Mitsuoka, C., Tamiru, M., Innan, H., Cano, L., Kamoun, S., Terauchi, R. (2012). [Genome sequencing reveals agronomically important loci in rice using MutMap.](https://www.nature.com/articles/nbt.2095) _Nature biotechnology_, 30(2), 174.

In [11]:
"""
＊重要＊
最初にこのセルを実行してください。
この課題で使うサンプルファイルをダウンロードして、pandasデータフレームを作成します。
"""
#--- データのダウンロード  ---
!wget -q https://raw.githubusercontent.com/CropEvol/lecture/master/data/mutmap_bulk.txt -O mutmap_bulk.txt

#--- pandasを読み込む  ---
import pandas as pd

#--- 読み込みファイル名 ---
dataset = 'mutmap_bulk.txt'       

#--- ファイルを読み込む ---
# header=-1（列名行なし）を指定した場合、列名として通し番号が付けられます。
# names=[リスト]とすることで、通し番号の代わりに列名を指定することが可能です。
df = pd.read_csv(dataset, sep="\t", header=-1, names=['chr', 'pos', 'ref_nucl', 'alt_nucl', 'ref_N', 'alt_N'])

#--- 表示 ---
df

       chr       pos ref_nucl alt_nucl  ref_N  alt_N
0    chr10     51406        G        A      6      3
1    chr10     59101        A        T      6      3
2    chr10     59112        A        C      7      2
3    chr10     61001        A        T     11      3
4    chr10    161375        A        G     13      5
5    chr10    161561        A        C      6      5
6    chr10    161562        T        A      6      5
7    chr10    393574        A        G      8      2
8    chr10    465981        A        C      7      2
9    chr10   1076409        G        A      3      3
10   chr10   1076415        T        C      3      3
11   chr10   1330441        A        T      9      2
12   chr10   1435253        C        T      4      3
13   chr10   1435288        T        C      3      3
14   chr10   1544709        T        C     11      4
15   chr10   1567026        G        A      4      6
16   chr10   1613426        T        C      3      7
17   chr10   1613434        T        C      3      9
18   chr10   1613481        C        T      6     11
19   chr10   1982349        T        A      2      2
20   chr10   1982350        G        A      2      2
21   chr10   1982351        A        G      2      2
22   chr10   2010618        C        T      5      4
23   chr10   2246198        G        A     15      6
24   chr10   2443102        C        A      5      4
25   chr10   2470700        C        T     11      5
26   chr10   2470703        A        T     11      5
27   chr10   2755964        T        C      4      6
28   chr10   2757274        A        C      4     34
29   chr10   2757277        A        G      4     35
..     ...       ...      ...      ...    ...    ...
242  chr10  20071322        A        T      6     66
243  chr10  20499021        G        A      2      3
244  chr10  20507394        A        G      5      2
245  chr10  20508056        C        T     10      4
246  chr10  20508141        A        G      8      4
247  chr10  20543911        T        A      5      4
248  chr10  20543928        C        T      7      3
249  chr10  20828980        T        C      2      3
250  chr10  20828993        G        T      2      3
251  chr10  21029283        G        A      1      6
252  chr10  21682646        G        A      1      7
253  chr10  21695378        G        A      2      7
254  chr10  21732646        G        A      0      7
255  chr10  21860208        G        A      1      5
256  chr10  21957934        G        A      0      5
257  chr10  22075499        G        A      0     11
258  chr10  22076117        G        A      0     10
259  chr10  22328342        G        A      0      5
260  chr10  22484681        G        A      0     11
261  chr10  22675791        T        C      4      5
262  chr10  22675811        T        A      4      4
263  chr10  22675827        G        A      8      3
264  chr10  22679327        G        A      4      5
265  chr10  22705386        G        A      0      8
266  chr10  22791301        C        A      9      2
267  chr10  22791355        C        T     10      4
268  chr10  22791771        G        T      6      3
269  chr10  22791897        A        G      5      4
270  chr10  22851514        C        G     10      3
271  chr10  23151816        G        A      0      7

[272 rows x 6 columns]

---
## Exercise 1.
__SNP-indexを求めて、新たな列として追加する。__

ヒント1: SNP-index = alt_N / (ref_N + alt_N)

ヒント2: 列データの取り出し方 => 実習内容 [2. 任意のデータにアクセスする](02_large_data_analysis_ja.ipynb#1.2)

ヒント3: 実習内容 [3. SNP-indexを計算する](02_large_data_analysis_ja.ipynb#1.3)

---
## Exercise 2. 
__`pos`列 が 10~15 Mbのデータのみを抽出する（`pos`列の単位は bp）。__

ヒント1: 1Mb = 1000 kb = 1000000 bp 

ヒント2: 実習内容 [4. 条件に合うデータを抽出する](02_large_data_analysis_ja.ipynb#1.4)

---
## Exercise 3. 
__SNP-index全データの散布図を描き（灰色の点で表示）し、さらに、`pos`列 が 10~15 Mbのデータのみを赤色で表示する。__

ヒント1: 実習内容 [6. SNP-indexのグラフを描く](02_large_data_analysis_ja.ipynb#1.6)

---

## 質問・要望
質問や要望があれば、メール本文か下のセルに書いてください。


## 課題の提出について

今回の課題番号：`07`

提出方法：
1. 課題終了後のノートブックファイルをダウンロードする
1. そのファイルをメールに添付して、下記アドレスに送信する  

    __＊重要＊　  
    メールの件名を `HW[課題番号2桁]+SID[学籍番号(4桁-2桁-４桁)]`（すべて半角英数） にしてください。__  
    
    例） HW07+SID1234-56-7890
    

提出先: cropevol@gmail.com

提出期限: 2018年11月19日（月） 17:00まで

---

## [Challenge] Exercise 4.  <small>提出不要課題</small>
 
__塩基座位数についてのSliding Window解析のプログラムを作る。__

実習内容を参考に、ぜひ自分でプログラムを書いてみてください。  
プログラミングの練習になると思います。  

ヒント1: 塩基座位数は「平均値」ではなく「個数（データ数、行数）」です。

ヒント2: 実習内容 [7. Sliding Window解析](02_large_data_analysis_ja.ipynb#1.7)